h1 {
    background-color: #cda24d;
    text-align: center;
    color: #867204;
    padding: 20px;
    font-family:cursive;
    text-decoration:underline double;
    font-weight: bolder;
}
main {
    border: 3px solid #867240;    
}
img {
    height: auto;
    width: 200px;
}
div {
    padding: 20px;
    border: 3px solid #867240;
    width: 200px;
}
#authentictacosalpastor,
#aguadefresa,
#taameya,
#chickenyakitori,
.goldlink {
    font-family:'Times New Roman', Times, serif;
    color: #867204;
}
li {
    color: #867204;
}
p {
    font-family: 'Times New Roman', Times, serif;
}