h1 {
    background-color: #cda24d;
    text-align: center;
    padding: 20px;
    font-family:cursive;
}
main {
    border: 3px solid #867240;    
}
h2,h3 {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}
.abouttherecipe {
    padding: 0px 15px 15px ;
}
.fitimg {
    height: auto;
    width:fit-content;
} 
.taameya {
    max-height: auto;
    max-width:90%;
    object-fit: contain;
    padding-left:15px;
    padding-bottom: 15px;
}
.goldhead,h2,h3 {
    text-decoration:underline double;
    font-weight: bolder;
    color: #867204;
}
li{
    color: #867204;
}
div {
    color: #000000;
}
.cooknote {
    padding: 0px 15px 15px ;
}
.goldlink {
    font-family:'Times New Roman', Times, serif;
    color: #867204;
}
.footertext {
    font-family: 'Times New Roman', Times, serif;
}
hr {
    color: #867204;
}